/*
Title: New Colors
Description: ...
PR: #
*/

/* Colors */

$wp-gray-0: #f6f7f7;
$wp-gray-5: #dcdcde;
$wp-gray-10: #c3c4c7;
$wp-gray-20: #a7aaad;
$wp-gray-30: #8e9196;
$wp-gray-40: #787c82;
$wp-gray-50: #646970;
$wp-gray-60: #50575e;
$wp-gray-70: #3c434a;
$wp-gray-80: #2c3338;
$wp-gray-90: #1d2327;
$wp-gray-100: #101517;
$wp-gray: $wp-gray-50;

$wp-blue-0: #eff3f7;
$wp-blue-5: #c6def6;
$wp-blue-10: #9ac6f0;
$wp-blue-20: #72aee6;
$wp-blue-30: #5198d9;
$wp-blue-40: #3582c4;
$wp-blue-50: #2271b1;
$wp-blue-60: #135e96;
$wp-blue-70: #0a4b78;
$wp-blue-80: #043959;
$wp-blue-90: #01263a;
$wp-blue-100: #00131c;
$wp-blue: $wp-blue-50;